.navbar {
            position: sticky;
            top: 0;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 30px;
            width: 100%;
            z-index: 1000;
        }

        .navbar .header-namn, .navbar .nav-links a {
            font-size: 16px;
            font-family: 'Helvetica neue', sans-serif;
            color: #0c171d;
            text-decoration: none;
            padding: 10px 0;
        }

        .navbar .nav-links {
            display: flex;
            gap: 30px;
        }


        @media (max-width: 768px) {
            .navbar {
                padding: 10px 20px;
            }
            .navbar .header-namn, .navbar .nav-links a {
                font-size: 14px;
            }
            .mobilpadding {
                padding-bottom: 10px;
            }

            .intro {
                font-family: "Helvetica neue", sans-serif;
                font-size: 24px;
                color: "#0c171d";
                padding-top: 40px;
            }
        }

        .block {
            padding-top: 7%;
            padding-bottom: 7%;
        }

        .row {
        margin: 2% 5%;
        }

        h1 {
            font-family: "Helvetica neue", sans-serif;
            font-size: 100px;
            color: #0c171d;
            line-height: 1;  /* Sätt ett fast radavstånd */
            display: flex;
            align-items: flex-start;
        }

        h2 {
            font-family: "Helvetica neue", sans-serif;
            font-size: 36px;
            color: "#0c171d";
        }

        h3 {
            font-family: "Helvetica neue", sans-serif;
            color: "#0c171d";
        }

        p {
            font-family: "helvetica neue", sans-serif;
            font-size: 15px;
            color: #0c171d;
        }

        .intro {
            font-size: 28px;
            font-family: "helvetica neue", sans-serif;
            color: #0c171d;
            font-weight: 500;
            line-height: 1.3;
        }

        body {
            background-color: white;
        }

        .outro {
            font-size: 28px;
            font-family: "helvetica neue", sans-serif;
            background-color: #0c171d;
            color: white;
            font-weight: 500;
            line-height: 1.3;

        }


        .image-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image-container img {
            max-width: 100%;
            height: auto; 
            object-fit: cover;
        }

        /* Kontaktsektion styling */
        .kontakt {
            background-color: #0c171d;
            padding: 5% 0;
        }

        .kontakt p {
            color: white;
        }
